h1{
  text-align: center;
  text-decoration: underline;
}
p{
  text-align: center;
}
body,html{
  height:100%;
  margin:0%;
}
.bgimg1, .bgimg2, .bgimg3, .bgimg4{
  position:relative;
  opacity:1;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
}
.bgimg1{
  background-image:url("https://github.com/saiarjun546/Environmental-day-computer-project/blob/master/Yasuni-Forest.jpg 1492110.jpg");
  min-height:100%;
}
.caption{
  position:absolute;
  left:0;
  top:50%;
  width:100%;
  text-align:center;
  color: #000;
}
.caption span.border{
  background-color:#111;
  colo;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
